<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
<div class="m-1" p-1">
    <div>
        <div>
            <h1>Products</h1>
            
        </div>
        <div>
            <div>City Placeholder</div>
        </div>
    </div>
</div>
<div>
    @RenderBody()
</div>
</body>
</html>
