@model Product
@{
    ViewData["Title"] = "Create Product";
    Layout = "_Layout";
}

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Name:</label>
        <input class="form-control" asp-for="Name"/>
        </div>
    <div>
        <label asp-for="Price">Price:</label>
        <input class="form-control" asp-for="Price"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>